<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PtmConnection" providerName="System.Data.SqlClient" connectionString="Data Source=*IP*;Initial Catalog=PTM.Dev;Persist Security Info=True;User ID=DevServiceAccount;Password=*PASS*"/>
    <add name="MicrosoftClientId" connectionString="*TOKEN*"/>
  </connectionStrings>
  <GoogleOAuth>
    <add Key="ClientID" value="*TOKEN*"/>
    <add Key="ClientSecret" value="*TOKEN*"/>
  </GoogleOAuth>
  <MicrosoftOAuth>
    <add Key="ClientId" value="*TOKEN*"/>
  </MicrosoftOAuth>
</configuration>